<configuration><configSections>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="ZebraBangumi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                   </sectionGroup>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="ZebraBangumi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <userSettings>
        <ZebraBangumi.Properties.Settings>
            <setting name="Series" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDatabaseUpdateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseVersion" serializeAs="String">
                <value>v2018.12.21</value>
            </setting>
            <setting name="PictureSaveMagnification" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseCreateTime" serializeAs="String">
                <value />
            </setting>
        </ZebraBangumi.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ZebraBangumi.Properties.Settings>
            <setting name="SoftwareVersion" serializeAs="String">
                <value>Alpha 0.0.2</value>
            </setting>
        </ZebraBangumi.Properties.Settings>
    </applicationSettings>
</configuration>